*{
    font-family: 'Lucida Sans Unicode';
    margin: 0; padding: 0;list-style-type:none;
}


.legendaicon{margin-left:70px;margin-top:8px;list-style-type:none;color:#D8D8D8;}
.legendaiconc{margin-left:70px;margin-top:-5px;list-style-type:none;color:#D8D8D8;}
.header{
	height:45px;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:space-around;
	align-items:center;
	align-content:center;
	background-color:black;
	color:white;
	font-weight:bold;
	
}



.email{display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:center;
	align-content:center;}

.telefone{display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:center;
	align-content:center;}	
	
.menu{
	margin-bottom:2px;
	box-shadow:2px 2px #26DCE9;
	height:120px;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	align-content:center;
	justify-content:space-between;
	align-items:center;

	
}	

.itens-menu{
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	align-content:center;
	justify-content:space-between;
	align-items:center;
	position: relative;
}

.itens-menu .nav{
	position: relative; width: 100%; 
}

.itens-menu .nav .nav-item{
	display:  inline-block; position: relative; width: 30%; margin-right: 0%;
	left: 3.5%;
}

.itens-menu .nav .nav-item a{
	position: relative; width: 100%; height: 100%; display: block;
}

.imgtel{padding-right:19px;}
.imgemail{padding-right:16px;}
.itens-menu{margin-right:230px;}
.logo{position: relative; width: 10%; height: 100%; left: 5%;}

.logo img{
	position: absolute;  width: 100%; top: 50%; transform: translateY(-50%);
}


.img{padding-left:60px;}
.imgcont{padding-left:60px; margin-bottom:9px;margin-top:-11px;}

.title{background-color:black;color:white;height:80px; box-shadow:2px 2px #26DCE9;margin-top:5px;}
.titleslider{margin-top:140px;}
.titleslider1{margin-top:120px;margin-left:25%;}

.Contato{height:500px;
margin-right:150px;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	align-content:center;
	justify-content:space-between;
	align-items:center;
}
.dadosemail{
	font-size:17px;
	padding-top:18px;
	width:260px;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	align-content:center;
	justify-content:space-between;
	align-items:center;}
	
	.dadostel{
		font-size:16px;
		padding-top:18px;
		width:260px;
		display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	align-content:center;
	justify-content:space-between;
	align-items:center;}
	
	input, textarea {
    width: 400px;
    padding: 16px;
    color: black;
    margin-left: 80px;
	margin-top:20px;
	border:1px solid black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	}
	.submit input {
		font-weight:bold;
		padding-bottom:27px;
		box-shadow:0px 1px #26DCE9;
		font-size:15px;
    background-color: black;
    height: 40px;
    width: 100px;
   
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: white;
	float:right;
	}
	.hdesc{font-size:20px;}
	.pdesc{font-size:15px;}
	.titleserv{margin-top:20px;margin-bottom;45px;}
	.conteudoserv{margin-left:20px;line-height:30px;}

	
	.footer{width:100%;height:80px;background-color:black;color:white;font-size:14px;}