*{
   
    margin: 0; padding: 0;
}



.header{
	height:45px;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:space-around;
	align-items:center;
	align-content:center;
	background-color:black;
	color:white;
	font-weight:bold;
	
}
.email{display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:center;
	align-content:center;}

.telefone{display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:center;
	align-content:center;}	
	
.menu{
	height:120px;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	align-content:center;
	justify-content:space-between;
	align-items:center;

	
}	

.itens-menu{
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	align-content:center;
	justify-content:space-between;
	align-items:center;
	
	}



.imgtel{padding-right:19px;}
.imgemail{padding-right:16px;}
.itens-menu{margin-right:230px;}
.logo{margin-left:60px;color:#26DCE9;font-size:23px;}

.img{padding-left:60px;}

.title{background-color:black;color:white;height:75px;}

.Contato{height:500px;
margin-right:150px;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	align-content:center;
	justify-content:space-between;
	align-items:center;
}
.dadosemail{
	font-size:17px;
	padding-top:18px;
	width:260px;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	align-content:center;
	justify-content:space-between;
	align-items:center;}
	
	.dadostel{
		font-size:16px;
		padding-top:18px;
		width:260px;
		display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	align-content:center;
	justify-content:space-between;
	align-items:center;}
	
	input, textarea {
    width: 400px;
    padding: 16px;
    color: black;
    margin-left: 80px;
	margin-top:20px;
	border:1px solid black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	}
	.submit input {
		font-size:15px;
    background-color: black;
    height: 40px;
    width: 100px;
   
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: white;
	float:right;
	}

	
.footer{width:100%;height:80px;background-color:black;}